#footer
    .column
    .column
        h3 Shortcuts
        ul
            li 
                a(href='#') Tate Kids
            li 
                a(href='#') Tate Collectives
            li 
                a(href='#') Working at Tate
            li 
                a(href='#') Artists Rooms
            li 
                a(href='#') Press office
            li 
                a(href='#') Picture library
            li 
                a(href='#') Privacy and cookies
            li 
                a(href='#') Terms of use
    .column
        h3 Connect
        ul
            li 
                a(href='#') Contact us
            li 
                a(href='#') Feedback
            li 
                a(href='#') Feedback
            li 
                a(href='#') Twitter
            li 
                a(href='#') YouTube
            li 
                a(href='#') Social media directory
            li 
                a(href='#') Podcasts
    .column
        h3 Supports
        ul
            li 
                a(href='#') Donate
            li 
                a(href='#') Become a Member
            li 
                a(href='#') Corporate Members
            li 
                a(href='#') Corporate and private events
    .column