#header
    #logo
        a(href='/')
    #menu
        ul
            li 
                a(href='/') Home
            li 
                a(href='/artists') Artists
            li 
                a(href='/artworks') Artworks
    #search